
.ourproject {
    width: 100%;
    padding: 3% 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.ourproject h4 {
    color: var(--dominant);
    font-weight: 500;
}

.ourproject h1 {
    font-weight: 500;
    letter-spacing: 1.4px;
}

.ourproject .image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ourproject .image img {
    height: 70vh;
    width: 65%;
}

.ourproject .texts {
    width: 30%;
    height: 70vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ourproject .texts h4 {
    font-size: 1em;
    color: inherit;
    font-weight: bold;
}

.ourproject .texts p {
    color: inherit;
    font-size: small;
    font-weight: 500;
}

.ourproject .texts div {
    /* background-color: var(--dominant); */
    padding: 2em;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: start;
    justify-content: center;
    transition: all 0.4s;
}

.selected {
    background-color: var(--dominant);
    color: white;
}

.ourproject .texts div:hover {
    background-color: var(--dominant);
    color: white;
}
